:host{
    border-top:solid 1px lightgray
}
.series-list{
    display:flex;
    flex-flow:column;
    justify-content:flex-start;
    align-items:flex-start;
    gap:5px
}
.series-single{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    gap:5px
}
.series-list p{
    background-color:rgb(211, 228, 238);
    border-radius:20px;
    padding:8px 15px;
    text-align:center;
    margin:2px;
    box-shadow:0px 2px 10px rgb(232, 232, 232);
}
.series-list p:hover{
    transform:scale(+108%);
    cursor:pointer
}
.series-list .add-btn, .series-list .del-btn{
    background-color:rgb(211, 228, 238);
}